.main{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    
}
.card-grid{
    width: 50vw;
    display: flex;
    flex-direction: column;
    background-color: #fff ;
    padding:2rem;
    margin:1rem;
}
.card-grid>*,.details>*,.formdetails>*,form>*{
    background-color: #fff;
}
img{
    width: 150px;
    height: 100px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}

.formdetails{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.formgroup1,.formgroup2,.labelformgroup1,.labelformgroup2{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

label{
    display: inline-block;
    background-color: #fff;
}
form{
    width: -webkit-fill-available;
    background-color: #fff;
}

.fooddetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 2;
    padding: 1rem;
}

input{
    border-radius: 1rem;
    border: 0.5px solid grey;
    background-color: #fff;
    outline: none;
    padding: 0.3rem;
}

p{
    margin:0
}

